@import "../../Variables.scss";

.AboutPage-Container {
  height: 100%;
  overflow: auto;
  background-image: url("../../assets/images/waves.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 40px;

  .Header-Container {
    max-width: 960px;
    margin: 20px auto 20px auto;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 25px;
    padding: 10px;

    @media screen and (max-width: 1000px) {
      margin: 40px 20px 20px 20px;
    }

    .Description-Contianer {
      text-align: center;
      margin-bottom: 15px;

      div {
        padding: 10px;
      }
    }
  }

  .All-Contributors-Container {
    margin: 0 10%;
    max-width: 1000px;
    margin: auto;

    @media (min-width: 750px) {
      display: flex;
      flex-wrap: wrap;
    }

    .Contributor-Container {
      flex: 1;
      min-width: 300px;
    }
  }

  .Link-Container {
    text-align: center;
    padding: 20px;
  }
}
