@import "../../../Variables.scss";
.Sudoku-Container {
  $GameBreak: 600px;
  position: relative;
  .Game-Container {
    @media (min-width: $GameBreak) {
      display: flex;
      justify-content: space-evenly;
    }
    & > div {
      flex: 1;
    }

    .Board {
      display: grid;
      grid-template-columns: repeat(9, 35px);
      grid-template-rows: repeat(9, 35px);
      width: calc(35px * 9);
      margin: 20px auto;

      &.win div {
        background-color: lightgreen !important;
      }

      :hover {
        cursor: pointer;
      }

      div {
        display: inline-block;

        background-color: peachpuff;
        border: 0.5px solid gray;
        text-align: center;
        padding: 8px;
        font-size: large;

        // Adds Darkened Borders to outline 3x3 sections on board
        &:nth-child(n + 1):nth-child(-n + 9) {
          border-top: 2px solid darken(gray, 50%);
        }
        &:nth-child(n + 28):nth-child(-n + 36),
        &:nth-child(n + 55):nth-child(-n + 63) {
          border-top: 1px solid darken(gray, 50%);
        }
        &:nth-child(n + 73):nth-child(-n + 81) {
          border-bottom: 2px solid darken(gray, 50%);
        }
        &:nth-child(n + 19):nth-child(-n + 27),
        &:nth-child(n + 46):nth-child(-n + 54) {
          border-bottom: 1px solid darken(gray, 50%);
        }
        &:nth-child(9n) {
          border-right: 2px solid darken(gray, 50%);
        }
        &:nth-child(9n + 3),
        &:nth-child(9n + 6) {
          border-right: 1px solid darken(gray, 50%);
        }
        &:nth-child(9n + 1) {
          border-left: 2px solid darken(gray, 50%);
        }
        &:nth-child(9n + 4),
        &:nth-child(9n + 7) {
          border-left: 1px solid darken(gray, 50%);
        }

        &#D1,
        &#E1,
        &#F1,
        &#D2,
        &#E2,
        &#F2,
        &#D3,
        &#E3,
        &#F3,
        &#A4,
        &#B4,
        &#C4,
        &#G4,
        &#H4,
        &#I4,
        &#A5,
        &#B5,
        &#C5,
        &#G5,
        &#H5,
        &#I5,
        &#A6,
        &#B6,
        &#C6,
        &#G6,
        &#H6,
        &#I6,
        &#D7,
        &#E7,
        &#F7,
        &#D8,
        &#E8,
        &#F8,
        &#D9,
        &#E9,
        &#F9 {
          background-color: lighten(peachpuff, 5);
          &.related {
            background-color: $Sky-Blue;
          }
        }

        &.focused {
          background-color: darken(peachpuff, 20) !important;
        }
        &.related {
          background-color: $Sky-Blue;
        }

        &.rowError,
        &.colError,
        &.squareError {
          background-color: lighten(palevioletred, 10) !important;
          &.focused {
            background-color: darken(palevioletred, 20) !important;
          }
        }
      }
    }
  }

  .NumberContainer {
    padding: 20px;
    display: flex;
    justify-content: space-evenly;

    button {
      width: 30px;
      height: 30px;
      border-radius: 8px;
      border: 1px solid darken(peachpuff, 10);
      cursor: pointer;

      &.active {
        background-color: peachpuff;
      }
      &.done {
        // visibility: hidden;
        background-color: $MiddleBlueGreen;
        &.active {
          background-color: darken($MiddleBlueGreen, 20%);
        }
      }
    }
  }

  .WinModal-Container {
    padding: 20px;
  }
  .WinModal {
    @media (max-width: $GameBreak) {
      position: absolute;
      top: -39px;
      left: 0px;
      right: 0px;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
    }
    &-Box {
      background-color: white;
      margin: 100px 20px;
      text-align: center;
      @media (max-width: $GameBreak) {
        padding: 20px;
        border-radius: 20px;
      }
    }
  }

  .Difficulty-Buttons {
    padding: 20px;
    display: flex;
    justify-content: center;
    @media (min-width: $GameBreak) {
      flex-direction: column;
      align-items: flex-end;
    }
  }

  .Difficulty-Button {
    width: 120px;
    padding: 5px;
    margin: 5px;
    border: 1px darken(peachpuff, 10) solid;
    border-radius: 4px;
    cursor: pointer;
    &.highlighted {
      background-color: peachpuff;
    }
  }
}
