@import "../../../Variables.scss";

.LightsOutContainer main {
  padding: 0 !important;
}

.Lights-Out-Header {
  text-align: center;
  padding-bottom: 40px;
}

.Lights-Out-Header > p {
  font-size: 1.25em;
  margin-bottom: 40px;
}

.Lights-Out-Header button {
  height: 1.75em;
  font-size: 1.5em;
  display: inline-block;
  font-family: inherit;
  color: inherit;
  vertical-align: top;
  cursor: pointer;
}

.LightsOutContainer #the-game {
  display: grid;
  box-sizing: content-box;
  grid-gap: 0;
  grid-template-columns: repeat(5, 50px);
  grid-template-rows: repeat(5, 50px);
  @media screen and (min-width: 400px) {
    grid-template-columns: repeat(5, 70px);
    grid-template-rows: repeat(5, 70px);
  }
  grid-auto-flow: row;
  justify-content: center;
  margin: auto;
  padding-bottom: 60px;
}

.LightsOutContainer #the-game button {
  border-radius: 7px;
  border: 2px solid $TrueV;
  background-color: #fff;
  transition: background-color 0.3s linear;
  cursor: pointer;
  &:hover {
    background-color: #bbbbbb;
  }
  &:hover,
  &:focus {
    border: 2px dotted $TrueV;
  }
}

.LightsOutContainer #the-game button.out {
  border: 2px solid #000;
  background-color: #777777;
  transition: background-color 0.3s linear;
  &:hover {
    background-color: #555555;
  }
  &:hover,
  &:focus {
    border: 2px dotted #000;
  }
}

.LightsOutContainer #stats-box {
  display: inline-block;
  width: 100px;
  background-color: lightgrey;
  height: 2.5em;
  font-size: 1em;
}

.LightsOutContainer #move-counter > p {
  display: inline-block;
  margin: 0;
}

.LightsOutContainer #best-moves > p {
  display: inline-block;
  margin: 0;
}
