.QuipPopup-Container {
  position: relative;
  button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: 0.5s;
    &:hover,
    &:focus,
    &.active {
      transform: rotate(10deg);
    }
  }

  img {
    max-width: 200px;
    height: auto;
  }

  .QuipPopover {
    z-index: 25;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    position: fixed;
    top: 10%;
    left: 50%;
    margin-left: -175px;
    width: 350px;

    @media screen and (max-width: 500px) {
      width: 80%;
      margin-left: 0;
      left: 10%;
    }

    .CloseButton {
      position: absolute;
      color: white;
      background-color: red;
      padding: 5px 10px;
      border-radius: 5px;
      top: 5px;
      right: 5px;
    }

    .Author {
      font-weight: bold;
    }
  }
}
