.QuipsDisplay-Container {
  position: absolute;
  width: calc(100% - 30px);

  @media screen and (min-width: 700px) {
    width: 600px;
  }

  .QuipsInternalWrapper {
    display: flex;
    position: relative;
    flex-direction: column;
    padding: 20px;
    min-height: 330px;
    background-color: white;
    background: url("../../../../assets/images/tiledBackgrounds/tiledPaperWhite.jpg");
    box-shadow: 0 0 5px black;
  }

  .QuipTitleButton {
    position: absolute;
    top: -35px;
    height: 35px;
    background-color: tan;
    transition: background-color 0.2s;
    border: 1px solid black;
    border-bottom: none;
    border-radius: 5px 5px 0 0;
    cursor: pointer;
    max-width: calc(100% - 40px);
    color: #000;

    &:hover,
    &:focus {
      background-color: darken(tan, 10%);
    }
    h2 {
      margin: 0;
      width: 100%;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      color: #000;
    }
  }

  .LeftBox {
    flex: 1;
    text-align: left;
    padding: 10px;

    .Author {
      margin-top: 10px;
      font-size: 0.85rem;
      font-style: italic;
    }
  }
  .RightBox {
    flex: 1;
    padding: 10px;
  }
  img {
    width: 280px;
    max-width: 100%;
    height: auto;
  }
  @media screen and (min-width: 820px) {
    .LeftBox {
      text-align: right;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }

  @media screen and (min-width: 600px) {
    .QuipsInternalWrapper {
      flex-direction: row;
    }
  }
}
