.Breadcrumb-Container {
  left: 5px;
  top: 5px;
  position: absolute;
  z-index: 100;
}

.Breadcrumb {
  padding-right: 5px;
  &:not(:last-of-type):after {
    content: ">";
    margin-left: 5px;
  }
}
