.DailyPoemButton {
  text-decoration: none;
  display: flex;
  justify-content: flex-end;

  & a {
    position: relative;
    padding: 8px;
    z-index: 5;
  }

  &-Image {
    width: 100px;
  }

  &-Text {
    transform: rotate(-15deg);
    font-weight: bold;
    color: #000;
    position: absolute;
    bottom: 20px;
    left: 10px;
    background-color: #fff;
    padding: 2px;
  }
}
