.Loading-Container {
  .loading {
    width: 1em;
    height: 50px;
    margin: auto;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
    position: relative;
    padding-left: 0.5em;
  }

  .loading:after {
    content: "";
    display: block;
    position: absolute;
    font-size: 10px;
    width: 1em;
    height: 1em;
    animation: spinner 2s infinite linear;
    border-radius: 0.5em;
  }

  /* Animation */
  @keyframes spinner {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
