.ScrollAnimation-Title {
  &-Container {
    padding: 10px;
    border-radius: 20px;
    width: 300px;
    text-align: center;
    margin: 20px;
    margin-left: 10%;
    margin-top: 15%;
  }
  &-Border {
    border: 1px black solid;
    border-radius: 10px;
    padding: 10px 20px;
  }
}
