.Home {
  &-Container {
    background-image: url("/src/assets/images/sunset-beach.jpg");
    background-size: cover;
    background-position: center center;
    height: 100%;
    padding: 20px;
    color: white;
  }

  &-Tagline {
    text-align: center;
  }
}
