.Home {
  &-Container {
    background-image: url("../../assets/images/sunset-beach.jpg");
    background-size: cover;
    background-position: center center;
    height: 100%;
    color: white;

    .Snow-Home-Container {
      overflow: hidden;
      position: absolute;
      height: 100%;
      width: 100%;
    }
    .Fireworks-Home-Container {
      overflow: hidden;
      position: absolute;
      height: 100%;
      width: 100%;
    }
  }

  &-Door-Container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 5;
  }

  @media (min-width: 800px) {
    &-Door-Container {
      min-height: calc(100% - 80px);
      width: 100%;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: flex-end;
    }
  }
}
