.Home {
  &-Container {
    background-image: url("../assets/images/home_background.jpg");
    background-size: cover;
    background-position: center center;
    height: 100%;
    padding: 20px;
  }

  &-Tagline {
    text-align: center;
  }
}
