.Contributor {
  &-Container {
    display: inline-block;
    text-align: center;
    padding: 20px;
    & img {
      width: 200px;
      height: auto;
    }
  }

  &-Name {
    font-weight: bold;
  }
}
