.Construction-Container {
  position: relative;

  .Text-Container {
    position: absolute;
    z-index: 10;
    background-color: white;
    padding: 20px;
    padding-bottom: 40px;
    border-radius: 10px;
    top: 20vh;
    max-width: 300px;
    left: 10px;
    text-align: center;
    opacity: 0.9;
    @media screen and (min-width: 400px) {
      left: 10vw;
    }
    @media screen and (min-width: 800px) {
      left: 50%;
    }
  }

  .Quip1 {
    position: absolute;
    top: 0;
    z-index: 11;
  }

  .Quip2 {
    position: absolute;
    top: 40vh;
    left: 30vw;
    z-index: 11;
    @media screen and (max-width: 820px) {
      top: 60vh;
    }
  }
}
