.Construction-Container {
  position: relative;

  .QuipPopup-Container {
    display: flex;
    flex-direction: column;
    @media screen and (min-width: 800px) {
      flex-direction: row;
    }
  }

  .Text-Container {
    position: absolute;
    z-index: 10;
    background-color: white;
    padding: 20px;
    padding-bottom: 40px;
    border-radius: 10px;
    top: 10vh;
    max-width: 300px;
    left: calc(50% - 150px);
    text-align: center;
    opacity: 0.9;
    max-height: 80vh;
    overflow: scroll;
    @media screen and (min-width: 800px) {
      left: 40%;
      max-width: 500px;
    }
  }
}
