.ChessBoard-Row.Row-Even {
  .ChessBoardSquare-Container:nth-child(even) {
    background-color: lightblue;
  }
}

.ChessBoard-Row.Row-Odd {
  .ChessBoardSquare-Container:nth-child(odd) {
    background-color: lightblue;
  }
}

.ChessBoardSquare-Container {
  display: inline-block;
  width: 50px;
  height: 50px;
  background-size: 50px;

  &.kb {
    background-image: url("../../../../assets/images/chess/FostyWally.png");
  }

  &.pb {
    background-image: url("../../../../assets/images/chess/Pawn_Color.png");
  }

  &.kw {
    background-image: url("../../../../assets/images/chess/CaptainCode.png");
  }

  &.pw {
    background-image: url("../../../../assets/images/chess/Pawn_BW.png");
  }
}
