.ChessBoard {
  &-Container {
    width: 400px;
    margin: 20px auto;
    border: 1px solid lightblue;
    box-sizing: initial;

    * {
      box-sizing: content-box;
    }
  }

  &-Row {
    height: 50px;
  }
}
