@import url("https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap");
//=================================================================
//  Variables
//=================================================================

$Break-Large: 1200px;

$Sky-Blue: rgb(139, 201, 228);
$Sky-Dark: rgb(19, 48, 97);
$Sunset-Color: #9795ef;
$Sunset-Color-2: #fb8caa;
$Cloud-2-Color: #d3d3d3;
$White: #ffffff;

//=================================================================
//  Global Styles
//=================================================================

body {
  min-height: 2000vh;
}

.MrsBlueSkyContainer {
  * {
    box-sizing: border-box;
    font-family: "Gloria Hallelujah", cursive;
  }

  .Poem {
    &-Meta-Info {
      position: relative;
      max-width: 1200px;
      margin: auto;
    }

    &-Author {
      position: absolute;
      top: 125px;
      left: 20px;
      z-index: 55;
    }

    &-Title {
      position: fixed;
      z-index: 150;
      top: 60px;
      left: 10vw;
      padding: 5px;
      border-radius: 12px 40px;
      background-color: $Cloud-2-Color;

      animation-name: Poem-Title;
      animation-duration: 1s;
      animation-timing-function: ease-in-out;
    }

    &-Credits {
      position: fixed;
      text-align: center;
      display: inline-block;
      padding: 25px;
      font-size: 2em;
      border-radius: 20px 50px;
      background-color: $Cloud-2-Color;
      line-height: 1em;
      top: 35vh;
      z-index: 100;
      right: -150vw;

      animation-name: Poem-Credits;
      animation-duration: 1s;
      animation-timing-function: ease-in-out;
    }
  }
  @keyframes Poem-Title {
    2% {
      transform: translateX(0%);
    }
    5% {
      transform: translateX(500%);
    }
    100% {
      transform: translateX(500%);
    }
  }
  @media (min-width: $Break-Large) {
    @keyframes Poem-Title {
      3% {
        left: 75vw;
      }
      94% {
        left: 75vw;
      }
      100% {
        left: 45vw;
      }
    }
  }
  @keyframes Poem-Credits {
    90% {
      right: -150vw;
    }
    100% {
      right: 45vw;
    }
  }

  //=================================================================
  //  SVG images
  //=================================================================

  .Header-Cloud {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 50;
  }

  .Header-Cloud-2 {
    position: fixed;
    top: -100px;
    z-index: 45;

    animation-name: Header-Cloud-2;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
  }
  @keyframes Header-Cloud-2 {
    6% {
      transform: translateX(80%);
    }
    20% {
      transform: translateX(60%);
    }
    40% {
      transform: translateX(85%);
    }
  }

  .Moon {
    width: 640px;
    height: 640px;
    position: fixed;
    right: 10vw;
    top: -10vh;
    transform: scale(0.7);

    animation-name: Moon;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
  }
  @keyframes Moon {
    10% {
      top: -100vh;
    }
  }

  .Paper-Airplane {
    height: 50px;
    position: fixed;
    left: -120px;
    top: 50vh;
    z-index: 75;

    animation-name: Paper-Airplane;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
  }
  @keyframes Paper-Airplane {
    1% {
      transform: translate(0%);
    }
    4% {
      transform: translate(1000%, 100px);
    }
    7% {
      transform: translate(2500%, -200px);
    }
    100% {
      transform: translate(2500%, -200px);
    }
  }

  // Stanza 1

  .Sad-Dog-Image {
    height: 700px;
    width: 800px;
    position: fixed;
    right: 15vw;
    top: 15vh;
    opacity: 0;
    z-index: 75;

    animation-name: Sad-Dog-Image;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
  }
  @keyframes Sad-Dog-Image {
    6% {
      opacity: 0;
    }
    7% {
      opacity: 1;
      tranform: scale(1);
    }
    10% {
      opacity: 0.2;
      transform: scale(0.8);
    }
    12% {
      opacity: 0;
      transform: rotate(45deg) scale(0.6);
    }
  }

  // Stanza 2

  .Dragon {
    position: fixed;
    width: 278px;
    height: 191px;
    transform: scale(2.5);
    top: 30vh;
    right: 15vw;
    opacity: 0;
    z-index: 75;

    animation-name: Dragon;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
  }
  @keyframes Dragon {
    15% {
      opacity: 0;
    }
    17% {
      opacity: 1;
    }
    18% {
      opacity: 1;
    }
    19% {
      opacity: 0;
    }
  }

  .Cow {
    position: fixed;
    width: 291px;
    height: 384px;
    transform: scale(1.5);
    top: 25vh;
    right: 15vw;
    z-index: 75;
    opacity: 0;

    animation-name: Cow;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
  }
  @keyframes Cow {
    19% {
      opacity: 0;
    }
    20% {
      opacity: 1;
    }
    22% {
      opacity: 1;
    }
    23% {
      opacity: 0;
    }
  }

  .Comic-Pow {
    position: fixed;
    width: 668.25px;
    height: 419.76px;
    top: 30vh;
    right: 15vw;
    opacity: 0;
    z-index: 75;

    animation-name: Comic-Pow;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
  }
  @keyframes Comic-Pow {
    22% {
      opacity: 0;
    }
    23% {
      opacity: 1;
    }
    25% {
      opacity: 1;
    }
    27% {
      opacity: 0;
    }
  }

  // Stanza 3

  .Sun {
    height: 500px;
    width: 500px;
    transform: scale(0.8);
    opacity: 0;
    position: fixed;

    animation-name: Sun;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
  }
  @keyframes Sun {
    // Move the sun in an arc across the sky, and have purple clouds fly across
    25% {
      transform: rotate(0deg);
      opacity: 0;
    }
    28% {
      opacity: 1;
    }
    36% {
      opacity: 1;
    }
    39% {
      transform: translateX(-40vw) translateY(50vh) rotate(-180deg) scale(0.2);
      opacity: 0;
    }
    100% {
      transform: rotate(-180deg) scale(0.2);
    }
  }

  .Sunset-Cloud {
    position: fixed;
    opacity: 0;
    bottom: 10vh;
    z-index: 110;

    animation-name: Sunset-Cloud;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;

    & path {
      animation-name: Sunset-Cloud-Path;
      animation-duration: 1s;
      animation-timing-function: ease-in-out;
    }
  }
  .Sunset-Cloud-2 {
    position: fixed;
    left: 200px;
    bottom: 0vh;
    opacity: 0;
    z-index: 110;

    animation-name: Sunset-Cloud;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;

    & path {
      animation-name: Sunset-Cloud-Path;
      animation-duration: 1s;
      animation-timing-function: ease-in-out;
    }
  }
  @keyframes Sunset-Cloud {
    25% {
      transform: rotate(0deg);
      opacity: 0;
    }
    28% {
      opacity: 1;
    }
    36% {
      transform: translateX(50vw) translateY(-10vh) scale(1.5);
      opacity: 1;
    }
    39% {
      transform: translateX(60vw) translateY(-15vh) scale(3);
      opacity: 0;
    }
  }
  @keyframes Sunset-Cloud-Path {
    30% {
      fill: #959595;
    }
    36% {
      fill: $Sunset-Color-2;
    }
  }

  .Mountain {
    position: fixed;
    bottom: -40px;
    opacity: 0;
    left: 50vw;
    z-index: 75;

    animation-name: Mountain;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
  }
  @keyframes Mountain {
    25% {
      opacity: 0;
      left: 50vw;
    }
    28% {
      opacity: 1;
      left: 0vw;
    }
    36% {
      opacity: 1;
      left: 0vw;
    }
    39% {
      opacity: 0;
      left: -50vw;
    }
  }

  // Stanza 4

  .Wind-Cloud {
    position: fixed;
    z-index: 75;
    transform: scale(5) scaleX(-1);
    width: 111px;
    height: 107px;
    left: -100vw;
    top: 50vh;

    animation-name: Wind-Cloud;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
  }
  @keyframes Wind-Cloud {
    36% {
      left: -100vw;
    }
    50% {
      left: 150vw;
    }
    55% {
      left: 200vw;
    }
    100% {
      left: 200vw;
    }
  }

  // Stanza 5
  .Boy-Frisbee {
    position: fixed;
    bottom: 0px;
    right: 15vw;
    width: 611px;
    height: 336px;
    opacity: 0;
    z-index: 75;

    animation-name: Boy-Frisbee;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
  }
  @keyframes Boy-Frisbee {
    47% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    58% {
      opacity: 1;
    }
    61% {
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }

  // Stanza 6

  .Frisbee {
    width: 512px;
    height: 512px;
    position: fixed;
    z-index: 75;
    left: -512px;

    animation-name: Frisbee;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
  }
  @keyframes Frisbee {
    58% {
      transform: translate(0%) scale(0.4);
    }
    61% {
      transform: translateX(50vw) scale(0.4) rotate(180deg);
    }
    65% {
      transform: translateY(50vh) translateX(60vw) scale(0.6);
    }
    69% {
      transform: translateX(150vw) scale(0.5) rotate(-180deg);
    }
    72% {
      transform: translateX(250vw);
    }
    100% {
      transform: translateX(250vw) scale(0.5);
    }
  }

  // Stanza 7

  .High-Dog {
    position: fixed;
    transform: scaleX(-1);
    z-index: 75;
    left: -100vw;
    top: 15vh;
    opacity: 1;

    animation-name: High-Dog;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
  }
  @keyframes High-Dog {
    69% {
      left: -100vw;
      top: 15vh;
    }
    72% {
      left: 0vw;
    }
    80% {
      left: 15vw;
      opacity: 1;
    }
    83% {
      left: 20vw;
      top: 0vh;
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }

  // Stanza 8

  .Lightning {
    position: fixed;
    top: 25vh;
    left: 25vw;
    opacity: 0;
    z-index: 101;

    animation-name: Lightning;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
  }
  @keyframes Lightning {
    86% {
      opacity: 0;
    }
    86.2% {
      opacity: 1;
    }
    88% {
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }

  //=================================================================
  //  Stanzas
  //=================================================================

  .Poem-Stanza {
    position: fixed;
    top: 100vh;
    font-size: 1.5em;
    z-index: 100;
    padding: 10px 20px;
    background-color: $Sky-Blue;
    opacity: 0.9;
    margin: 20px;
    border-radius: 12px;

    &-Wrapper {
      max-width: 1200px;
      margin: auto;
    }
  }

  .First-Stanza {
    animation-name: First-Stanza;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
  }
  @keyframes First-Stanza {
    3% {
      top: 100vh;
    }
    6% {
      top: 25vh;
    }
    14% {
      top: 25vh;
    }
    17% {
      top: -100vh;
    }
    100% {
      top: -100vh;
    }
  }

  .Second-Stanza {
    animation-name: Second-Stanza;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
  }
  @keyframes Second-Stanza {
    14% {
      top: 100vh;
    }
    17% {
      top: 25vh;
    }
    25% {
      top: 25vh;
    }
    28% {
      top: -100vh;
    }
    100% {
      top: -100vh;
    }
  }

  .Third-Stanza {
    animation-name: Third-Stanza;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
  }
  @keyframes Third-Stanza {
    25% {
      top: 100vh;
    }
    28% {
      top: 25vh;
    }
    36% {
      top: 25vh;
    }
    39% {
      top: -100vh;
    }
    100% {
      top: -100vh;
    }
  }

  .Fourth-Stanza {
    animation-name: Fourth-Stanza;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
  }
  @keyframes Fourth-Stanza {
    36% {
      top: 100vh;
    }
    39% {
      top: 25vh;
    }
    47% {
      top: 25vh;
    }
    50% {
      top: -100vh;
    }
    100% {
      top: -100vh;
    }
  }

  .Fifth-Stanza {
    animation-name: Fifth-Stanza;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
  }
  @keyframes Fifth-Stanza {
    47% {
      top: 100vh;
    }
    50% {
      top: 25vh;
    }
    58% {
      top: 25vh;
    }
    61% {
      top: -100vh;
    }
    100% {
      top: -100vh;
    }
  }

  .Sixth-Stanza {
    animation-name: Sixth-Stanza;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
  }
  @keyframes Sixth-Stanza {
    58% {
      top: 100vh;
    }
    61% {
      top: 25vh;
    }
    69% {
      top: 25vh;
    }
    72% {
      top: -100vh;
    }
    100% {
      top: -100%;
    }
  }

  .Seventh-Stanza {
    animation-name: Seventh-Stanza;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
  }
  @keyframes Seventh-Stanza {
    69% {
      top: 100vh;
    }
    72% {
      top: 25vh;
    }
    80% {
      top: 25vh;
    }
    83% {
      top: -100vh;
    }
    100% {
      top: -100vh;
    }
  }

  .Eighth-Stanza {
    animation-name: Eighth-Stanza;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
  }
  @keyframes Eighth-Stanza {
    80% {
      top: 100vh;
    }
    83% {
      top: 25vh;
    }
    91% {
      top: 25vh;
    }
    94% {
      top: -100vh;
    }
    100% {
      top: -100vh;
    }
  }
}

//=================================================================
//  Global
//=================================================================

body {
  padding: 0;
  margin: 0;
  min-height: 2000vh;
  background-color: $Sky-Dark;
  animation: body 1s linear;
}
@keyframes body {
  3% {
    background-color: $Sky-Blue;
  }
  25% {
    background-color: $Sky-Blue;
  }
  32% {
    background-color: $Sunset-Color;
  }
  37% {
    background-color: $Sunset-Color-2;
  }
  39% {
    background-color: $Sky-Blue;
  }
  83% {
    background-color: $Sky-Blue;
  }
  86% {
    background-color: $Sky-Dark;
  }
  86.2% {
    background-color: $White;
  }
  86.4% {
    background-color: $Sky-Dark;
  }
  100% {
    background-color: $Sky-Dark;
  }
}

:root * {
  /* Pause the animation */
  animation-play-state: paused;
  /* Bind the animation to scroll */
  animation-delay: calc(var(--scroll) * -1s);
  /* These last 2 properites clean up overshoot weirdness */
  animation-iteration-count: 1;
  animation-fill-mode: both;
}
