$TrueV: #9679cd;
$DarkSalmon: #e98a81;
$Tequila: #f4d5a1;
$BlueDiamond: #542860;
$Tamarillo: #782a30;
$Blackberry: #381223;
$Cadillac: #a24c65;
$SlateBlue: #625ace;
$White: #ffffff;

$TopBackground: $SlateBlue;
$TopHover: $BlueDiamond;
$TopOutline: $Tequila;
