.Playground-Container {
  position: relative;
  padding: 40px 0;
  overflow: hidden;
}

.Playground-Container .Main-Content {
  font-family: "Indie Flower", cursive;
  max-width: 100%;
}

.Playground-Main-Button-Container {
  text-align: center;
  margin-top: 20px;
}

/* Story */
.Playground-Container .Story-Container {
  font-family: "Indie Flower", cursive;
  background-color: #bee3c0;
  border: solid #a7d7af 1px;
  border-radius: 12px;
  width: 90%;
  max-width: 800px;
  margin: auto;
  margin-top: 30px;
  z-index: 10;
}
.Playground-Container .Story-Content-Container {
  transition-duration: 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #a7d7af;
  border-radius: 12px;
  padding: 5px 15px;
  margin: 20px;
  font-size: 1.2em;
}
.Playground-Container .Story-Content-Container:nth-child(even):hover {
  -webkit-transform: rotateZ(-1deg);
  -ms-transform: rotateZ(-1deg);
  transform: rotateZ(-1deg);
}
.Playground-Container .Story-Content-Container:nth-child(odd):hover {
  -webkit-transform: rotateZ(1deg);
  -ms-transform: rotateZ(1deg);
  transform: rotateZ(1deg);
}
.Playground-Container .Story-Reward-Container:hover {
  background-color: goldenrod;
  box-shadow: yellow 0 0 5px;
}
.Playground-Container .Story-Villian-Container:hover {
  background-color: maroon;
  color: yellow;
  box-shadow: yellow 0 0 5px;
}

.Playground-Container .Story-Content-Container h2 {
  flex-shrink: 0;
  text-align: left;
  margin: 5px;
}
.Playground-Container .Story-Content {
  font-size: 1.2em;
  text-align: center;
}
@media (min-width: 700px) {
  .Playground-Container .Story-Content {
    padding-left: 20%;
    text-align: right;
  }

  .Playground-Container .Story-Content-Container {
    flex-direction: row;
  }
}

/*
Background
*/
.Playground-Container .Playground-Background-Color {
  background-color: #938ec1;
  position: absolute;
  z-index: -5;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}
