@import "../../../../Variables.scss";

.Drawers-wrap {
  background-repeat: repeat;
  margin: auto;
  padding: 70px 0 30px 0;
  position: relative;
  h2 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    background-color: $Tequila;
    padding: 10px;
    margin: 0;
    border-radius: 4px;
    border: 5px double $Blackberry;
    font-size: medium;
    font-family: "Libre Baskerville";
    top: 14px;
  }

  .drawers {
    text-align: center;
    margin: 0;
    padding: 0;
  }

  .drawer {
    background-image: linear-gradient(
      to bottom,
      #f9ebb7 3%,
      #e4c695 4%,
      #d6a867
    );
    box-shadow: 0 0 0 1px #6c4116;
    border-radius: 4px;
    display: inline-block;
    width: 100px;
    height: 45px;
    margin: 6px 12px;
    position: relative;
    transition: 0.2s ease-out all;
  }

  .handle {
    background-image: linear-gradient(
      to top,
      #efefef 35%,
      #454545 38%,
      #2c2c2c 75%,
      #efefef 80%
    );
    background-image: linear-gradient(
      to bottom,
      #efefef 35%,
      #454545 38%,
      #2c2c2c 75%,
      #efefef 80%
    );
    border: 1px solid #a3682e;
    border-radius: 6px;
    box-shadow: 0 2px 4px -2px #000;
    margin-top: 18px;
    width: 40px;
    height: 9px;
    display: inline-block;
    z-index: 2;
    position: relative;
  }

  .drawer:hover,
  .drawer:focus {
    border-width: 0;
    box-shadow: 0 0 0px 1px #6c4116, 0 3px 3px -2px #000, 0 10px 10px -4px #444;
    transform: scale(1.05);
    top: 1px;
  }

  .drawer:after {
    border-radius: 6px;
    content: "";
    position: absolute;
    width: 100px;
    height: 45px;
    left: 0;
    top: 0;
    opacity: 0.4;
    z-index: 1;
  }

  .third.drawer {
    @media screen and (max-width: 600px) {
      display: none;
    }
  }
}
