.HeaderButtonContainer {
  text-decoration: none;
  color: white;
}

.HeaderButton {
  border: #f4d5a1 1px solid;
  border-radius: 6px;
  padding: 6px 12px;
  margin: 0 4px;
}

.HeaderButton:hover {
  background-color: #542860;
  cursor: pointer;
}
