@import "../../../Variables.scss";

.FooterContainer {
  background-color: $Blackberry;
  overflow: hidden;
  color: $White;
  position: relative;
  max-width:100%;
  min-height: 100px;
  @media screen and (min-width: $BreakS) {
    min-height: 68px;
  }
  @media screen and (min-width: $BreakMS) {
    min-height: 58px;
  }

  .FooterInner{
    display:flex;
    margin: 0 auto;
    justify-content: space-between;
    max-width: 1200px;
  }

  .CopyrightContainer {
    position:relative;
    left:10px;
    text-align: center;
    transform: rotate(-4deg);
    margin: 20px;
    @media screen and (min-width: $BreakS) {
      padding-bottom: 25px;
      left:150px;
    }

    @media screen and (min-width: $BreakL) {
      padding-bottom: 25px;
      left:340px;
    }

   

  }

  .PrivacyPolicyContainer {
  
    right: 20px;
    bottom: 20px;
    a {
      color: $White;
    }
  }
}
