@import "../../../Variables.scss";

.FooterContainer {
  background-color: $Blackberry;
  overflow: hidden;
  color: $White;
  width: 100%;
  min-height: 100px;
  @media screen and (min-width: $BreakS) {
    min-height: 68px;
  }
  @media screen and (min-width: $BreakMS) {
    min-height: 58px;
  }

  .FooterInner {
    margin: 0 auto;
    max-width: 1200px;
    position: relative;
    height: 100%;
    padding-top: 20px;
  }

  .CopyrightContainer {
    text-align: center;
    transform: rotate(-4deg);
    @media screen and (min-width: $BreakS) {
      padding-bottom: 25px;
    }

    @media screen and (min-width: $BreakL) {
      padding-bottom: 25px;
    }
  }

  .PrivacyPolicyContainer {
    position: absolute;
    right: 20px;
    @media (min-width: $BreakS) {
      bottom: 20px;
    }
    a {
      color: $White;
    }
  }
}
